body{
    width:80%;
    margin: auto;
}
[class*="col-"]{
    background-color: #ffc0cb;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
